doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src: url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:bt;
      src: url('/bootstrap/fonts/bebasneue_thin.ttf');
      }
      body {
      min-width:768px;
      background-color:#ddd;
      }
      h5{
      letter-spacing:2px;
      text-transform:uppercase;
      margin-bottom:0px;
      color:white;
      font-family:roboto-thin;
      font-size:30px;
      margin-top:0px;
      }
      h2 {
      letter-spacing:2px;
      text-transform:uppercase;
      font-family:high;
      margin-bottom:0px;
      }
      h6{
      font-family:arial; 
      text-transform:uppercase;
      margin-top:0px;
      color:lightgrey;
      margin-bottom:0px;
      letter-spacing:2px;
      }
      #welcome {
      position:absolute;
      z-index:3000;
      width:100%;
      height:100%;
      -ms-background-color:lightblue;
      }
      .main{
      filter: blur(20px) brightness(0.5);
      -webkit-filter: blur(20px) brightness(0.5);
      -moz-filter: blur(20px) brightness(0.5);
      -o-filter: blur(20px) brightness(0.5);
      }
      .col-lg-4 {
      margin-bottom: 20px;
      text-align: center;
      }
      .list-group-item:last-child {
      border-bottom: 2px solid #c2c2c2;
      }
      .loadwrap {
        width:100%;
        display:none;
      }
  body
    script.
      if(screen.width < 414){
      window.location='http://m.recentones.com/';
      }
    nav(class="navbar navbar-inverse navbar-fixed-top",style='z-index:3001')
      .container
        .navbar-header
          a(class="navbar-brand" style='padding:5px;' href="/")
            img(alt="Logo",id='logo',src="/bootstrap/images/rl.png",height='40',width='40')
        .collapse.navbar-collapse#navbar-collapse-9
          ul(class='nav navbar-nav')
            li(class='active')
              a(href='#',style='font-family:high;font-size:20px;letter-spacing:2px;') Лента 
            li
              a(href='/top',style='font-family:high;font-size:20px;letter-spacing:2px;') Рейтинги 
            li
              a(href='/misc/1',style='font-family:high;font-size:20px;letter-spacing:2px;') Инфо 
          form(class="navbar-form navbar-right" id='srch' role="search")
           .input-group
              input(type="text" class="form-control" id='searchfield' style='background-color:#333;color:white;border-color:#333;border-top-left-radius:20px;border-bottom-left-radius:20px;') 
              span(class='input-group-btn')
                button(class="btn btn-default" type="button" id='searchbutton' style='padding-top:9px;padding-bottom:9px;background-color:#333;color:gray;border-color:#333;border-top-right-radius:20px;border-bottom-right-radius:20px;')
                  span(class='glyphicon glyphicon-search') 
    #wrap 
      #welcome
        .container(style='margin-bottom:60px;')
          .row  
            .col-xs-12(style='text-align:center;')
              h1(style='color:white;margin-top:35vh;font-size:45px;font-family:high;') Добро пожаловать, все дела, сайт о новых заведениях Москвы, пиу-пиу.
              button(type='button',class='btn btn-lg',style='margin-top:50px;margin-bottom:50px;border-radius:30px;background-color:transparent;border-color:white;color:white',id='close') Пропустите !  
      .main.container(style='margin-top:50px;z-index:2;') 
        .row
          .col-xs-12(style='text-align:center;',id='monthheader')
            h1(style='margin-bottom:0px;margin-top:20px;font-family:high;font-size:45px;letter-spacing:2px;') #{month}   
        .row
          #inserts.col-xs-12(style='text-align:center;')
      footer(class='footer main' id='morebutton' style='display:none;background-color:white;')
        .container
            nav
              ul(class='pager') 
                li 
                  a(href='#',id='more') Еще
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script.
        var rownum = 0;
        var lastfounddate;
        var more = #{more};
        if(more===1){
         $('#morebutton').css('display','block');
        }
        $('#close').click(function(){
          $("#welcome").css("display","none");
          $('.main').css({'filter':'blur(0px) brightness(1)','-o-filter':'blur(0px) brightness(1)','-moz-filter':'blur(0px) brightness(1)','-webkit-filter':'blur(0px) brightness(1)'});
        });
        $(document).keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13' && $('#searchfield').val()){
        $('#srch').submit  
        }
        });
        var toplist = !{doc};
        //$('#searchbutton').click(performsearch);
        //function performsearch(){
        //var query = $('#searchfield').val();
        //request = new XMLHttpRequest();
        //request.onreadystatechange = function () {
        //var DONE = this.DONE || 4;
        //if (this.readyState === DONE){
        //var parsed = JSON.parse(request.responseText);
        //if (parsed.trouble === 1)
        //{$('#fldc').css('padding-top','20px');
        //$('#searchresults').empty(); 
        //$('#searchresults').css('text-align','center');
        //$('#searchresults').append("<h5 style='margin-top:10vh;color:black;'>Ничего не нашли</h5>");}
        //else {
        //$('#fldc').css('padding-top','20px');
        //$('#searchresults').empty(); 
        //$('#searchresults').css('text-align','left');
        //for(var i = 0;i<parsed.length;i++){
        // var insert = "<div class='row' style='border-bottom:1px solid #ddd;background-color:#fff;'><a href='http://recentones.com/places/"+parsed[i].pid+"'><div class='col-xs-2' style='padding:0px;'><img src='"+parsed[i].mainpreview+"' style='width:100%'></div><div class='col-xs-10'><h5 style='color:gray;padding-top:1vw;'>"+parsed[i].placenameru+"</h5></div></a></div>";
        // $('#searchresults').append(insert);
        // }
        //}}
        //};
        //request.open('POST', '/srch', true);
        //request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
        //request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //// THAT NEEDS TO BE CORRECTED. IT SUPPOSED TO CHECK FOR ALL THE OFFERS BUT SERVER SIDE DOESNT SUPPORT IT YET. AT LEAST CHANGE TO 'CALENDAR'
        //request.send("query="+query); 
        //}
        // LOGO COLOURING
        var logocount=0;
        $('#logo').mouseenter(function(){
          if(logocount<3)
           {switch(logocount) {
                       case(0):
                        $('#logo').attr('src','/bootstrap/images/gl.png');
                        logocount++;
                       break;
                       case(1):
                        $('#logo').attr('src','/bootstrap/images/bl.png');
                        logocount++;
                       break;
                       case(2):
                         $('#logo').attr('src','/bootstrap/images/rl.png');
                        logocount++;
                       break;
                      }
                    }
            else {
              switch(logocount%3)
              {         case(0):
                         $('#logo').attr('src','/bootstrap/images/gl.png');
                         logocount++;
                        break;
                        case(1):
                         $('#logo').attr('src','/bootstrap/images/bl.png');
                         logocount++;
                        break;
                        case(2):
                         $('#logo').attr('src','/bootstrap/images/rl.png');
                         logocount++;
                        break;}
            }
          });
        
        function populate(toplist,funcmore) {
          var left = toplist.length%2;
          var cycles = (toplist.length-left)/2;
          console.log('cycles: '+cycles+', left: '+left);
          if(funcmore===0)
          {for(var xx=0;xx<cycles;xx++){
                      console.log('rownum is: '+rownum);
                      $('#inserts').append("<div class='row' style='margin-top:15px;margin-bottom:15px;' id='row"+rownum+"'></div>");
                      //branch for outputting left
                      if(xx+1 === cycles && left) {
                        var modrownum = rownum+1;
                        $('#inserts').append("<div class='row' style='margin-top:15px;margin-bottom:15px;' id='row"+modrownum+"'></div>");
                        var insert = "<div class='col-xs-6'><ul class='list-group'><li style='padding:0px;' class='list-group-item'><a href='http://recentones.com/places/"+toplist[xx].pid+"'><img style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='"+toplist[xx].mainpreview+"' ></a></li></li><li class='list-group-item'><h2 style='margin-top:0px;'>"+toplist[xx].placenameru+"</h2><h6>"+toplist[xx].founddate.day+"."+toplist[xx].founddate.month+"."+toplist[xx].founddate.year+"</h6></li></ul></div>";
                          eval("$('#row"+rownum+"').append(insert);");
                        lastfounddate=toplist[xx].founddateint;
                        $('#morebutton').css('display','none');
                      }
                      else {
                        
                          for(var yy=0;yy<2;yy++){
                          if(yy===0)
                          {var listnum = xx*2;
                           var insert = "<div class='col-xs-6'><ul class='list-group'><li style='padding:0px;' class='list-group-item'><a href='http://recentones.com/places/"+toplist[listnum].pid+"'><img style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='"+toplist[listnum].mainpreview+"' ></a></li></li><li class='list-group-item'><h2 style='margin-top:0px;'>"+toplist[listnum].placenameru+"</h2><h6>"+toplist[listnum].founddate.day+"."+toplist[listnum].founddate.month+"."+toplist[listnum].founddate.year+"</h6></li></ul></div>";
                           eval("$('#row"+rownum+"').append(insert);");}
                          else {
                            var listnum = xx*2+1;
                           var insert = "<div class='col-xs-6'><ul class='list-group'><li style='padding:0px;' class='list-group-item'><a href='http://recentones.com/places/"+toplist[listnum].pid+"'><img style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='"+toplist[listnum].mainpreview+"' ></a></li></li><li class='list-group-item'><h2 style='margin-top:0px;'>"+toplist[listnum].placenameru+"</h2><h6>"+toplist[listnum].founddate.day+"."+toplist[listnum].founddate.month+"."+toplist[listnum].founddate.year+"</h6></li></ul></div>";
                           eval("$('#row"+rownum+"').append(insert);");
                           lastfounddate=toplist[listnum].founddateint;
                          }
                          }//for populating row
                      
                      }//else from outputting left
                      rownum++;
                      console.log('rownum is: '+rownum);
                    }//for main cycle
                
                  }
          else {
             for(var xx=0;xx<cycles;xx++){
                      console.log('MORE rownum is: '+rownum);
                      var insert ="<div class='row' style='margin-top:15px;margin-bottom:15px;display:none;' id='row"+rownum+"'></div>";
                      $(insert).appendTo('#inserts');
                      //branch for outputting left
                      console.log('breakpoint 1');
                      if(xx+1 === cycles && left) {
                        var modrownum = rownum+1;
                         insert = "<div class='row' style='margin-top:15px;margin-bottom:15px;display:none' id='row"+modrownum+"'></div>";
                        $('#inserts').append(insert);
                        console.log('breakpoint 2');
                         insert = "<div class='col-xs-6'><ul class='list-group'><li style='padding:0px;' class='list-group-item'><a href='http://recentones.com/places/"+toplist[xx].pid+"'><img style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='"+toplist[xx].mainpreview+"' ></a></li></li><li class='list-group-item'><h2 style='margin-top:0px;'>"+toplist[xx].placenameru+"</h2><h6>"+toplist[xx].founddate.day+"."+toplist[xx].founddate.month+"."+toplist[xx].founddate.year+"</h6></li></ul></div>";
                          eval("$('#row"+rownum+"').append(insert);");
                        lastfounddate=toplist[xx].founddateint;
                        $('#morebutton').css('display','none');
                        console.log('breakpoint 3');
                      }
                      else {
                          console.log('breakpoint 4');
                          for(var yy=0;yy<2;yy++){
                          if(yy===0)
                          {var listnum = xx*2;
                            console.log('breakpoint 5');
                            insert = "<div class='col-xs-6'><ul class='list-group'><li style='padding:0px;' class='list-group-item'><a href='http://recentones.com/places/"+toplist[listnum].pid+"'><img style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='"+toplist[listnum].mainpreview+"' ></a></li></li><li class='list-group-item'><h2 style='margin-top:0px;'>"+toplist[listnum].placenameru+"</h2><h6>"+toplist[listnum].founddate.day+"."+toplist[listnum].founddate.month+"."+toplist[listnum].founddate.year+"</h6></li></ul></div>";
                           eval("$('#row"+rownum+"').append(insert);");}
                          else {
                            var listnum = xx*2+1;
                            console.log('breakpoint 7');
                            insert = "<div class='col-xs-6'><ul class='list-group'><li style='padding:0px;' class='list-group-item'><a href='http://recentones.com/places/"+toplist[listnum].pid+"'><img style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='"+toplist[listnum].mainpreview+"' ></a></li></li><li class='list-group-item'><h2 style='margin-top:0px;'>"+toplist[listnum].placenameru+"</h2><h6>"+toplist[listnum].founddate.day+"."+toplist[listnum].founddate.month+"."+toplist[listnum].founddate.year+"</h6></li></ul></div>";
                           eval("$('#row"+rownum+"').append(insert);");
                           console.log('breakpoint 8');
                           lastfounddate=toplist[listnum].founddateint;
                          }
                          }//for populating row
                      
                      }//else from outputting left
                      console.log('breakpoint 9');
                      eval("$('#row"+rownum+"').fadeIn('slow');")
                      rownum++;
                      console.log('MORE rownum is: '+rownum);
                    }//for main cycle
          }
        }

        $('#more').click(function(){
        request = new XMLHttpRequest();
        request.onreadystatechange = function () {
        var DONE = this.DONE || 4;
        if (this.readyState === DONE){
        parsed = JSON.parse(request.responseText);
        console.log(parsed);
        if(parsed.trouble === 1)
        {
        console.log('TROUBLE === 1');
        switch (parsed.mtext){
        case('db'):
        alert('Sorry, our database is being updated');
        break;
        case('empty'):
        alert('EMPTY');
        break;
        }}
        else {
        //trouble === 0
        toplist = parsed.mdata.reverse();
        //populate is modified , check if suitable
        populate(toplist,1);
        //$("html, body").animate({ scrollTop: $("#morebutton").scrollTop() }, 1000);
        if(parsed.more === 0){
        $('#morebutton').css('display','none');
        }
        }
        }
        };
        request.open('POST', '/more', true);
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //Most libraries like jQuery/Prototype/Dojo do this
        console.log('lastfounddate='+lastfounddate);
        request.send('lastfounddate='+lastfounddate);
        });
        populate(toplist,0);
           
