doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src: url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:bt;
      src: url('/bootstrap/fonts/bebasneue_thin.ttf');
      }
      h1 {
      font-family:high;
      font-size:3vw;
      display:inline;
      color:white;
      }
      body {
      min-width:768px;
      background-color:#fff;
      background-image:url('/bootstrap/images/stripe4.png');
      }
      h2 {
      font-size:6vw;
      font-family:br;
      letter-spacing:7px;
      }
      h3 {
      font-size:3vw;
      }
      h4 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      }
      h5 {
      letter-spacing:2px;
      text-transform:uppercase;
      font-family:roboto-thin;
      font-size:3vw;
      }  
      .btn {
        border-radius:30px;
      }
  body
    nav(class="navbar navbar-inverse navbar-static-top",style='margin-bottom:0px;')
          .container
            .navbar-header
              a(class="navbar-brand" style='padding:5px;' href="/")
                img(alt="Logo",src="/bootstrap/images/rl.png",height='40',width='40')
            .collapse.navbar-collapse#navbar-collapse-9
              ul(class='nav navbar-nav')
                li(class='active')
                  a(href='/admax',style='font-family:high;font-size:20px;letter-spacing:2px;') Админка
    .container(style='min-height:100vh;background-color:white;')
      .row
        .col-xs-12
          ol(class="breadcrumb",style='margin-top:10px;margin-bottom:10px;')
            li
              a(href="/admax") Главная
            li(class="active") Список заведений  
      .row(style='padding-top:10px;padding-bottom:10px;text-align:center;') 
        .col-xs-12 
          a(href='/admin/addplace')
            button(class='btn btn-default',type='button') Добавить заведение   
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading 
              | Заведения
            table(class='table')
              tbody
                each place, i in doc
                  tr(id='row#{place.pid}')
                    td
                      | #{place.pid}
                    td 
                      a(href='http://recentones.com/places/#{place.pid}') #{place.placenameru}
                    td
                      | #{place.founddateint}
                    td
                      | #{place.founddate.day}.#{place.founddate.month}.#{place.founddate.year}
                    td
                      | #{place.regdate.day}.#{place.regdate.month}.#{place.regdate.year}
                    td 
                      a(href='http://recentones.com/admin/redactplace/#{place.pid}')
                        button(class='btn btn-warning',type='button') Редактировать
                    td
                      button(onclick='removeplace(#{place.pid})',class='btn btn-danger',type='button') Удалить 
     
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script.
        function removeplace(id) {
        request = new XMLHttpRequest();
        request.onreadystatechange = function () {
        var DONE = this.DONE || 4;
        if (this.readyState === DONE){
        var parsed = JSON.parse(request.responseText);
        if (parsed.trouble === 1)
        {alert('DB ERROR');}
        else {
          alert('Place deleted !');
         eval("$('#row"+id+"').remove();");
        }}
        };
        var dest = '/admin/removeplace/'+id;
        request.open('POST', dest, true);
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        // THAT NEEDS TO BE CORRECTED. IT SUPPOSED TO CHECK FOR ALL THE OFFERS BUT SERVER SIDE DOESNT SUPPORT IT YET. AT LEAST CHANGE TO 'CALENDAR'
        request.send("uu=withoutthesecurity");  
        }  

      