doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src: url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:bt;
      src: url('/bootstrap/fonts/bebasneue_thin.ttf');
      }
      body {
      min-width:768px;
      background-color:#fff;
      background-image:url('/bootstrap/images/stripe4.png');
      }
      h3 {
      font-family:roboto-thin;
      }
      h4 {
      font-size:2vw;
      font-family:roboto-thin;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      }
      h6 {
      font-family:arial;
      text-transform:uppercase;
      color:gray;
      }
  body
    nav(class="navbar navbar-inverse navbar-fixed-top")
      .container
        .navbar-header
          a(class="navbar-brand" style='padding:5px;' href="/")
            img(alt="Logo",id='logo',src="/bootstrap/images/rl.png",height='40',width='40')
        .collapse.navbar-collapse#navbar-collapse-9
          ul(class='nav navbar-nav')
            li
              a(href='/',style='font-family:high;font-size:20px;letter-spacing:2px;') Лента 
            li
              a(href='/top',style='font-family:high;font-size:20px;letter-spacing:2px;') Рейтинги 
            li
              a(href='/misc/1',style='font-family:high;font-size:20px;letter-spacing:2px;') Инфо 
          form(class="navbar-form navbar-right" id='srch' role="search")
           .input-group
              input(type="text" class="form-control" id='searchfield' style='background-color:#333;color:white;border-color:#333;border-top-left-radius:20px;border-bottom-left-radius:20px;') 
              span(class='input-group-btn')
                button(class="btn btn-default" type="button" id='searchbutton' style='padding-top:9px;padding-bottom:9px;background-color:#333;color:gray;border-color:#333;border-top-right-radius:20px;border-bottom-right-radius:20px;')
                  span(class='glyphicon glyphicon-search')  
    .container(style='background-color:white;min-height:100vh;margin-top:50px;')
      #text.row
        .col-xs-8.col-xs-offset-2(style='text-align:left')
          h1(style='margin-bottom:20px;margin-top:20px;font-family:high;font-size:45px;') #{doc.placenameru} 
          ul(class='list-group')
            li(class='list-group-item' style='padding:0px;')
              #pano(style='height:400px;')
            li(class='list-group-item')
              h5 #{doc.adressru}
              h5(style='color:gray;') #{doc.adressen} 
              h5 Заведение открылось #{doc.founddate.day}.#{doc.founddate.month}.#{doc.founddate.year} 
              a(href='#{doc.contacts.www}')
                h5 Перейти на сайт заведения

    script(type='text/javascript', src='/js/pano2vr_player.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/bootstrap/js/bootstrap.min.js')
    script.
      // create the panorama player with the container
      pano=new pano2vrPlayer("pano");
      pano.readConfigUrl("#{doc.xml}");
      
  
            

      