doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      h1 {
      font-family:high;
      font-size:3vw;
      display:inline;
      color:white;
      }
      body {
      min-width:768px;
      background-color:#fff;
      }
      h2 {
      font-size:6vw;
      font-family:br;
      letter-spacing:7px;
      }
      h3 {
      font-size:3vw;
      }
      h4 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      }
      h5 {
      letter-spacing:2px;
      text-transform:uppercase;
      font-family:roboto-thin;
      font-size:3vw;
      }
      button {
        border-radius:30px !important;
      }
  body
    nav(class="navbar navbar-inverse navbar-static-top",style='margin-bottom:0px;')
          .container
            .navbar-header
              a(class="navbar-brand" style='padding:5px;' href="/")
                img(alt="Logo",src="/bootstrap/images/rl.png",height='40',width='40')
            .collapse.navbar-collapse#navbar-collapse-9
              ul(class='nav navbar-nav')
                li(class='active')
                  a(href='/admax',style='font-family:high;font-size:20px;letter-spacing:2px;') Админка
    .container(style='min-height:100vh;background-color:white;')
      .row
        .col-xs-12
          ol(class="breadcrumb",style='margin-top:10px;margin-bottom:10px;')
            li
              a(href="/admax") Главная
            li(class="active") Список рейтингов  
      .row(style='padding-top:10px;padding-bottom:10px;text-align:center;') 
        .col-xs-12 
          a(href='/admin/addrating')
            button(class='btn btn-default',type='button') Добавить рейтинг   
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading 
              | Рейтинги
            table(class='table')
              tbody
                each rating, i in doc
                  tr(id="row#{rating.rid}")
                    td(class='updateneeded') 
                      | #{rating.lastredact}
                    td
                      a(href='http://#{rating.web}') #{rating.ratingname}
                    td 
                      a(href='http://recentones.com/admin/redactrating/#{rating.rid}')
                        button(class='btn btn-warning',type='button') Редактировать
                    td
                      button(onclick='removerating(#{rating.rid})',class='btn btn-danger',type='button') Удалить   
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script.
        function removerating(id) {
        request = new XMLHttpRequest();
        request.onreadystatechange = function () {
        var DONE = this.DONE || 4;
        if (this.readyState === DONE){
        var parsed = JSON.parse(request.responseText);
        if (parsed.trouble === 1)
        {alert('DB ERROR');}
        else {
          alert('Rating deleted !');
         eval("$('#row"+id+"').remove();");
        }}
        };
        var dest = '/admin/removerating/'+id;
        request.open('POST', dest, true);
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        // THAT NEEDS TO BE CORRECTED. IT SUPPOSED TO CHECK FOR ALL THE OFFERS BUT SERVER SIDE DOESNT SUPPORT IT YET. AT LEAST CHANGE TO 'CALENDAR'
        request.send("uu=withoutthesecurity");  
        }  
        var dd= new Date();
        var vday = dd.getDate().toString();
        if (vday.length===1){
          vday='0'+vday;
        }
        var vmonth = dd.getMonth()+1;
        vmonth = vmonth.toString();
        if (vmonth.length===1){
          vmonth='0'+vmonth;
        }
        var vyear = dd.getUTCFullYear().toString();
        var fulldate = vday+vmonth+vyear;
        $('.updateneeded').each(function(){
          alert(fulldate+", "+parseInt($(this).text()));
          if(fulldate-parseInt($(this).text())>7){
            $(this).css({'background-color':'#c35','color':'white'});
          }
          });

      